.footer {
    background: #F8765E;
    margin: 46px 0px 0px 0px;

    .container {
        padding: 40px 0px 34px 0px;
        gap: 16px;
    }

    &__nav {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 24px;
    }


    &__rights {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        margin: 0 auto;
    }


}