.footer {
    background: #F8765E;

    .container {
        padding: 40px 330px;
        display: flex;
        flex-flow: column;
    }

    &__list {
        display: flex;
        flex-flow: row;
        list-style: none;
        padding-left: 16px;
        padding-bottom: 40px;
        margin: 0;
    }

    &__nav {
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 32px;
        margin: 0 auto;
        margin-top: 20px;
    }


    &__rights {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        /* or 118% */
        margin: 0 auto;
        padding: 0 0 8px 20px;
    }

    &__slash {
        padding: 0 26px;
    }

}