a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:active {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

.container {
    font-style: normal;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.header {
    position: relative;
    background: #f8765e;

    .container {
        padding: 25px 45px 40px 51px;
    }

    &__logo {
        font-weight: 900;

        color: #ffffff;
    }

    &__title {
        margin: 0 auto;
        padding: 0px 6px 0px 0px;
        font-size: 26px;
        line-height: 58px;
    }
}

.navigation {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__benefit {
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 32px;
        padding: 0px 34.5px 0px 0px;
    }

    &__list {
        display: flex;
        flex-flow: row;
        list-style: none;
        padding: 0;
    }

    &__pricing {
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 32px;
        padding: 0px 32.5px 0px 0px;
    }

    &__testimonials {
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 32px;
    }
}
