.offer3 {
    .container {
        padding: 30px 0px 0px 120px;
    }

    &__button {
        background: #9bdbe7;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        border: none;
        white-space: nowrap;
        padding: 8px 18px;
        margin-left: 16px;
    }

    &__collumn1 {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        background: #9bdbe7;
        box-shadow: 12px 12px 40px rgb(0 0 0 / 25%);
        border-radius: 20px;
        padding-right: 120px;
        margin: 225px 42px 42px -210px;

        &--bottom {
            display: flex;
            margin: 0;
            padding-left: 50px;
            padding-bottom: 63px;
        }
    }

    &__collumn2 {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        background: #ffffff;
        box-shadow: 12px 12px 40px rgb(0 0 0 / 25%);
        border-radius: 20px;
        margin: 225px 98px 42px 20px;

        &--bottom {
            display: flex;
            margin: 0;
            padding-left: 50px;
            padding-bottom: 63px;
        }
    }

    &__company1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #ffffff;
        padding-left: 10px;
        margin: 0;
    }

    &__company2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #777777;
        padding-left: 4px;
        margin: 0;
    }

    &__content {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    &__description1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #ffffff;
        margin: 0 auto;
        padding: 23px 77.5px 182px 50px;
    }

    &__description2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #7c7c7c;
        margin: 0 auto;
        padding: 23px 60px 182px 50px;
    }

    &__down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 160px;
        padding-right: 310.5px;
        padding-left: 77.5px;
        padding-bottom: 321px;

        &--bottom {
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
            text-align: center;
            margin-top: 57px;
        }
    }

    &__form {}

    &__header {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: rgb(248, 118, 94);
        position: absolute;
        z-index: 2;
        padding-left: 25px;
        padding-top: 40px;
        margin: 0px auto;
        max-width: 328px;
    }

    &__input {
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #cdcdcd;
        border: none;
        text-align: center;
        background: #ffffff;
        box-shadow: inset 0px 1px 5px rgb(0 0 0 / 30%);
        border-radius: 20px;
        max-width: 368px;
        padding: 20px 170px 15px 25px;

        ::placeholder {
            color: #cdcdcd;
            text-align: center;
        }
    }

    &__left {
        margin-left: -230px;
    }

    &__littleQuote {
        padding-top: 80px;
        padding-left: 54px;
    }

    &__name1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #ffffff;
        margin: 0;
    }

    &__name2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
        color: #000000;
        margin: 0;
    }

    &__quotes {
        position: relative;
        z-index: -1;
    }

    &__right {
        margin-left: 240px;
    }

    &__table {
        background: #f8765e;
        border-radius: 20px 0px 0px 20px;
        display: flex;
        justify-content: space-between;
        margin-left: 130px;
        margin-top: -30px;
        padding-bottom: 187px;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 45px;
        margin: 0;
        color: #cdcdcd;
    }

    &__up {
        display: flex;
    }
}