.offer3 {

    .container {
        padding: 0px 0px 117px 20px;
    }

    &__content {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
    }

    &__down {
        max-width: 335px;
    }

    &__header {
        position: absolute;
        z-index: 2;
        margin: 0 auto;
        max-width: 234px;
        padding-left: 40px;
        padding-top: 22px;
    }

    &__quotes {
        position: relative;
        z-index: 1;
        margin-left: 20px;
    }

}