.offer2 {

    .container {
        padding: 100px 0px;
    }

    &__button {
        margin: 0px 98px 0px 99px;
        background: #9BDBE7;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #FFFFFF;
        border: none;
        white-space: nowrap;
        padding: 18px;
    }

    &__content {
        display: flex;
        flex-flow: column;
        align-items: center;

    }

    &__description {
        font-weight: 500;
        font-size: 26px;
        line-height: 45px;
        text-align: center;
        color: #031D5B;
        margin: 0 auto;
        padding: 10px 0px 0px 0px;
    }

    &__header {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #F8765E;
        margin: 0 auto;
        padding: 64px 0px 0px 20px;
    }

    &__icon {
        position: absolute;
        padding: 30px 0px 0px 0px;
    }

    &__image {
        position: relative;
        z-index: 3;
    }

    &__left {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #031D5B;
        padding: 30px;
        margin: 0 auto;
        max-width: 375px;
    }

}