.offer {
    .container {
        padding: 0px 120px 208px 120px;
    }

    &__collumn {
        display: grid;
        padding: 0px 15px 60px 20px;
    }

    &__content {
        color: #5b6c94;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        background: #ffffff;
        box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.45);
        border-radius: 20px;
        max-width: 1200px;
        margin-top: -128px;
    }

    &__description {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        /* or 200% */
        margin: 0;
    }

    &__header {
        margin: 0 auto;
        padding-top: 41px;
        padding-bottom: 17px;
    }

    &__icon {
        padding-bottom: 17px;
    }

    &__pic {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    &__table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 60px;
        padding: 60px 50px;
    }
}