.offer2 {

    .container {
        padding: 100px 30px;
    }

    &__content {
        display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 375px;
  }

    &__description {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 45px;
        /* identical to box height, or 173% */
        text-align: center;
        /* DarkBlue */
        color: #031D5B;
        margin: 0 auto;
    }

    &__header {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        text-align: center;
        /* OrangeFull */
        color: #F8765E;
        margin: 0 auto;
    padding-top: 59px;
    }

    &__icon {
        position: absolute;
        z-index: 1;
        ;
    }

    &__image {
        position: relative;
        z-index: 3;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        /* or 200% */
        text-align: center;
        /* DarkBlue */
        color: #031D5B;
    }

}