.offer {
    .container {
        padding: 0px 20px 0px 20px;
    }

    &__column {
        display: grid;
        padding: 0px 15px 50px 20px;
    }

    &__content {
        color: #5b6c94;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        background: #ffffff;
        box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.45);
        border-radius: 20px;
        max-width: 335px;
        margin: -64px 0px 0px 0px;
    }

    &__description {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        margin: 0;
        padding: 10px 0px 0px 0px;
    }

    &__header {
        margin: 0 auto;
        padding: 36px 0px 12px 0px;
        font-size: 18px;
    }

    &__icon {
        padding: 0px 0px 17px 0px;
    }

    &__img {
        max-height: 140px;
    }

    &__pic {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 0px 0px;
    }

    &__table {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 60px;
        padding: 50px 0px 0px 0px;
    }
}