.offer3 {

    .container {
        padding: 0px 0px 117px 20px;
    }

    &__collumn {
        position: relative;
    }

    &__company1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #FFFFFF;
    }

    &__content {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
    }

    &__description1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #FFFFFF;
        max-width: 240px;
        position: absolute;
        margin-top: -269px;
        z-index: 3;
    }

    &__down {
        max-width: 335px;
    }

    &__header {
        font-weight: 500;
        font-size: 26px;
        line-height: 45px;
        color: rgb(248, 118, 94);
        position: absolute;
        z-index: 2;
        max-width: 234px;
        padding-left: 10px;
        padding-top: 20px;
        margin: 0px auto;
    }

    &__left {
        padding-top: 72px;
        margin-left: -75px;
    }

    &__littleQuoteW {
        position: absolute;
        z-index: 2;
        padding-top: 186px;
        margin-left: -290px;
    }

    &__name1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #FFFFFF;
        margin-top: -150px;
    }

    &__quotes {
        position: relative;
        z-index: 1;
    }


    &__right {
        padding-top: 72px;
        margin-left: -55px;
    }

    &__table {
        background: #F8765E;
        border-radius: 20px 0px 0px 20px;
        margin-left: 75px;
        display: flex;
        margin-top: -54px;
    }

    &__up {}

}